.card {
  margin: 10px;
  margin-bottom: 5px;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.imageBox {
  display: flex ;
  justify-content: flex-start;
  flex-direction: row;
}

.info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  user-select: none;
}

.imageBox img {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  user-select: none;
  border: 0.05rem solid black;
}

.info h4 {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.sub p {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 21px;
}

.text {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

.share {
  margin: 17px;
  margin-top: 3rem;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-heart b {
  font-size: 30px;
  margin-left: 1rem;
  user-select: none;
}

.like {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.like p {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 23px;
  user-select: none;
}

@media (max-width: 600px) {
  .navbar-nav .nav-link {
    font-size: 0.9rem;
    flex-direction: row;
    margin-left: 0.8rem;
  }

  .navbar-nav {
    flex-direction: row !important;
  }

  .navbar-brand {
    margin-left: 0rem !important;
  }
}

@media (max-width: 450px) {
  .navbar-nav .nav-link {
    font-size: 0.75rem;
    margin-left: 0.6rem;
  }

  .container h1 {
    font-size: 2rem;
  }

  .navbar-brand {
    margin-left: 1rem;
    font-size: 0.95rem;
    color: black !important;
  }

  .card-body h4 {
    font-size: 1.1rem;
  }

  .sub p {
    font-size: 1.1rem;
  }

  .card .fa-times {
    font-size: 1.2rem;
  }

  .text {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .share {
    justify-content: space-between;
    font-size: 12px;
  }

  .like p {
    font-size: 15px;
  }

  .imageBox img {
    width: 80px;
    height: 80px;
  }

}
